<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mark Groner</title>

	<link rel="shortcut icon" href="static/vendor/images/capital-logo.jpg">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="static/vendor/css/inito_styles.css">
  <link rel="stylesheet" href="static/vendor/css/basic_style.css">


</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax page-head" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="static/vendor/images/portfolio-photo.jpg" alt="">
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/projects">Projects</a></li>
				</ul>

			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">

	<div class="container">
    <div class="row">
  		<h1 class="text-center">
        <br />
  			<span class="head-title">Mark Groner</span>
  			<span class="head-tagline">Austin, Texas</span>
  		</h1>
  	</div>
    <hr>
		<div class="row section topspace">
			<div class="col-md-12">
				<p>
					Experienced Data Analyst with a focus on identifying, quantifying, and solving business problems. Able to
					leverage large sets of structured and unstructured data to implement and automate scalable, data-driven
					solutions through programming and applied statistics. Incorporates communication, problem-solving, and
					technical skills to ensure projects are properly designed and executed. Seeking a position that will utilize my
					analytical and programming skills while furthering my pursuit of a career in Data Science.
				</p>
			</div>
		</div> <!-- / section -->

		<div class="row section featured topspace">
			<h2 class="section-title"><span>Skills</span></h2>
			<div class="container">
          <div class="row">
            <div class="col-md-6">
							<ul class="p-list skills-list">
								<li>Python</li>
								<li>SQL</li>
								<li>R</li>
								<li>JavaScript and D3.js</li>
								<li>HTML and CSS</li>
							</ul>
            </div>
						<div class="col-md-6">
							<ul class="p-list skills-list">
								<li>R Shiny Dashboards</li>
								<li>Tableau</li>
								<li>Machine Learning</li>
								<li>Git</li>
								<li>VBA</li>
							</ul>
            </div>
          </div>
        </div>
				<br></br>
		</div> <!-- / section -->


		<div class="row section recentworks topspace">

			<h2 class="section-title"><span>Contact Information</span></h2>

			<div class="container">
	        <div class="row">
						<center>
							<ul class="contact-description-list">
								<li><strong>Email:</strong> <a href="mailto:markbgroner@gmail.com">markbgroner@gmail.com</a></li>
								<li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/mark-groner/" target="_blank">https://www.linkedin.com/in/mark-groner</a></li>
								<li><strong>GitHub:</strong> <a href="https://github.com/markgroner" target="_blank">https://github.com/markgroner</a></li>
							</ul>
						</center>
	        </div>
          <br />
          <br />
	    </div>
		</div> <!-- /section -->

	</div>	<!-- /container -->

</main>


<footer id="underfooter">
	<div class="container">
		<div class="row">


			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>
						<b>Mark Groner</b><br>
						Hook 'Em
					</p>

				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Design: <a href="http://www.gettemplate.com" rel="designer" target="_blank">Initio by GetTemplate</a>
					</p>
				</div>
			</div>


		</div>
	</div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="static/vendor/js/inito_template.js"></script>
</body>
</html>
