<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script type="application/shiny-singletons"></script>
  <script type="application/html-dependencies">json2[2014.02.04];jquery[1.12.4];shiny[1.0.5];selectize[0.11.2];ionrangeslider[2.1.6];strftime[0.9.2];bootstrap[3.3.7]</script>
<!--
<script src="shared/json2-min.js"></script>
<script src="shared/jquery.min.js"></script>
<link href="shared/shiny.css" rel="stylesheet" />
<script src="shared/shiny.min.js"></script>
<link href="shared/selectize/css/selectize.bootstrap3.css" rel="stylesheet" />
-->
<!--[if lt IE 9]>
<script src="shared/selectize/js/es5-shim.min.js"></script>
<![endif]-->
<!--
<script src="shared/selectize/js/selectize.min.js"></script>
<link href="shared/ionrangeslider/css/ion.rangeSlider.css" rel="stylesheet" />
<link href="shared/ionrangeslider/css/ion.rangeSlider.skinShiny.css" rel="stylesheet" />
<script src="shared/ionrangeslider/js/ion.rangeSlider.min.js"></script>
<script src="shared/strftime/strftime-min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="shared/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="shared/bootstrap/js/bootstrap.min.js"></script>
<script src="shared/bootstrap/shim/html5shiv.min.js"></script>
<script src="shared/bootstrap/shim/respond.min.js"></script>  <link rel="stylesheet" type="text/css" href="legronjames.css"/>
-->
<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="../static/vendor/css/legronjames.css" rel="stylesheet" />
<link href="../static/vendor/css/shiny.css" rel="stylesheet" />
  <title>NBA Lineup Comparison</title>

</head>

<body>
  <div class="container-fluid">
    <div class="row" style="padding-left:12px; padding-right:12px;">
      <div class="col-sm-5" style="padding:0px;">
        <div class="row">
          <div class="col-sm-3" style="padding-left:12px; padding-right:0px;">
            <div class="form-group shiny-input-container">
              <label class="control-label" for="team_season">Team Season:</label>
              <div>
                <select id="team_season"><option value="2017-18" selected>2017-18</option>
<option value="2016-17">2016-17</option>
<option value="2015-16">2015-16</option>
<option value="2014-15">2014-15</option>
<option value="2013-14">2013-14</option>
<option value="2012-13">2012-13</option>
<option value="2011-12">2011-12</option>
<option value="2010-11">2010-11</option>
<option value="2009-10">2009-10</option>
<option value="2008-09">2008-09</option>
<option value="2007-08">2007-08</option></select>
                <script type="application/json" data-for="team_season" data-nonempty="">{}</script>
              </div>
            </div>
          </div>
          <div class="col-sm-9" style="padding-left:12px; padding-right:12px;">
            <div class="form-group shiny-input-container" style="width: 100%;">
              <label class="control-label" for="team">Team:</label>
              <div>
                <select id="team"><option value="Atlanta Hawks">Atlanta Hawks</option>
<option value="Brooklyn Nets">Brooklyn Nets</option>
<option value="Boston Celtics">Boston Celtics</option>
<option value="Charlotte Hornets">Charlotte Hornets</option>
<option value="Chicago Bulls">Chicago Bulls</option>
<option value="Cleveland Cavaliers" selected>Cleveland Cavaliers</option>
<option value="Dallas Mavericks">Dallas Mavericks</option>
<option value="Denver Nuggets">Denver Nuggets</option>
<option value="Detroit Pistons">Detroit Pistons</option>
<option value="Golden State Warriors">Golden State Warriors</option>
<option value="Houston Rockets">Houston Rockets</option>
<option value="Indiana Pacers">Indiana Pacers</option>
<option value="Los Angeles Clippers">Los Angeles Clippers</option>
<option value="Los Angeles Lakers">Los Angeles Lakers</option>
<option value="Memphis Grizzlies">Memphis Grizzlies</option>
<option value="Miami Heat">Miami Heat</option>
<option value="Milwaukee Bucks">Milwaukee Bucks</option>
<option value="Minnesota Timberwolves">Minnesota Timberwolves</option>
<option value="New Orleans Pelicans">New Orleans Pelicans</option>
<option value="New York Knicks">New York Knicks</option>
<option value="Oklahoma City Thunder">Oklahoma City Thunder</option>
<option value="Orlanda Magic">Orlanda Magic</option>
<option value="Philadelphia 76ers">Philadelphia 76ers</option>
<option value="Phoenix Suns">Phoenix Suns</option>
<option value="Portland Trailblazers">Portland Trailblazers</option>
<option value="Sacramento Kings">Sacramento Kings</option>
<option value="San Antonio Spurs">San Antonio Spurs</option>
<option value="Toronto Raptors">Toronto Raptors</option>
<option value="Utah Jazz">Utah Jazz</option>
<option value="Washington Wizards">Washington Wizards</option></select>
                <script type="application/json" data-for="team" data-nonempty="">{}</script>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-left:12px; padding-right:12px;">
          <div class="form-group shiny-input-container" style="width: 100%;">
            <label class="control-label" for="team_lineup">Lineup:</label>
            <div>
              <select id="team_lineup"><option value="" selected></option></select>
              <script type="application/json" data-for="team_lineup">{}</script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group shiny-input-container">
          <label class="control-label" for="home_road_flag">Location:</label>
          <div>
            <select id="home_road_flag"><option value="Neutral Site" selected>Neutral Site</option>
<option value="Home">Home</option>
<option value="Road">Road</option></select>
            <script type="application/json" data-for="home_road_flag" data-nonempty="">{}</script>
          </div>
        </div>
        <div class="form-group shiny-input-container">
          <label class="control-label" for="minutes_slider">Minutes:</label>
          <input class="js-range-slider" id="minutes_slider" data-min="0" data-max="12" data-from="6" data-step="0.5" data-grid="false" data-grid-snap="false" data-prettify-separator="," data-prettify-enabled="true" data-keyboard="true" data-keyboard-step="4.16666666666667" data-data-type="number"/>
        </div>
      </div>
      <div class="col-sm-5" style="padding:0px;">
        <div class="row">
          <div class="col-sm-3" style="padding-left:12px; padding-right:0px;">
            <div class="form-group shiny-input-container">
              <label class="control-label" for="opponent_season">Opponent Season:</label>
              <div>
                <select id="opponent_season"><option value="2017-18" selected>2017-18</option>
<option value="2016-17">2016-17</option>
<option value="2015-16">2015-16</option>
<option value="2014-15">2014-15</option>
<option value="2013-14">2013-14</option>
<option value="2012-13">2012-13</option>
<option value="2011-12">2011-12</option>
<option value="2010-11">2010-11</option>
<option value="2009-10">2009-10</option>
<option value="2008-09">2008-09</option>
<option value="2007-08">2007-08</option></select>
                <script type="application/json" data-for="opponent_season" data-nonempty="">{}</script>
              </div>
            </div>
          </div>
          <div class="col-sm-9" style="padding-left:12px; padding-right:12px;">
            <div class="form-group shiny-input-container" style="width: 100%;">
              <label class="control-label" for="opponent">Opponent:</label>
              <div>
                <select id="opponent"><option value="Atlanta Hawks">Atlanta Hawks</option>
<option value="Brooklyn Nets">Brooklyn Nets</option>
<option value="Boston Celtics">Boston Celtics</option>
<option value="Charlotte Hornets">Charlotte Hornets</option>
<option value="Chicago Bulls">Chicago Bulls</option>
<option value="Cleveland Cavaliers">Cleveland Cavaliers</option>
<option value="Dallas Mavericks">Dallas Mavericks</option>
<option value="Denver Nuggets">Denver Nuggets</option>
<option value="Detroit Pistons">Detroit Pistons</option>
<option value="Golden State Warriors" selected>Golden State Warriors</option>
<option value="Houston Rockets">Houston Rockets</option>
<option value="Indiana Pacers">Indiana Pacers</option>
<option value="Los Angeles Clippers">Los Angeles Clippers</option>
<option value="Los Angeles Lakers">Los Angeles Lakers</option>
<option value="Memphis Grizzlies">Memphis Grizzlies</option>
<option value="Miami Heat">Miami Heat</option>
<option value="Milwaukee Bucks">Milwaukee Bucks</option>
<option value="Minnesota Timberwolves">Minnesota Timberwolves</option>
<option value="New Orleans Pelicans">New Orleans Pelicans</option>
<option value="New York Knicks">New York Knicks</option>
<option value="Oklahoma City Thunder">Oklahoma City Thunder</option>
<option value="Orlanda Magic">Orlanda Magic</option>
<option value="Philadelphia 76ers">Philadelphia 76ers</option>
<option value="Phoenix Suns">Phoenix Suns</option>
<option value="Portland Trailblazers">Portland Trailblazers</option>
<option value="Sacramento Kings">Sacramento Kings</option>
<option value="San Antonio Spurs">San Antonio Spurs</option>
<option value="Toronto Raptors">Toronto Raptors</option>
<option value="Utah Jazz">Utah Jazz</option>
<option value="Washington Wizards">Washington Wizards</option></select>
                <script type="application/json" data-for="opponent" data-nonempty="">{}</script>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-left:12px; padding-right:12px;">
          <div class="form-group shiny-input-container" style="width: 100%;">
            <label class="control-label" for="opponent_lineup">Lineup:</label>
            <div>
              <select id="opponent_lineup"><option value="" selected></option></select>
              <script type="application/json" data-for="opponent_lineup">{}</script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="point_diff" class="shiny-html-output"></div>
    <div class="row">
      <div class="col-sm-3">
        <div id="ratings_graph" class="shiny-plot-output" style="width: 100% ; height: 200px"></div>
      </div>
      <div class="col-sm-3">
        <div id="shooting_graph" class="shiny-plot-output" style="width: 100% ; height: 200px"></div>
      </div>
      <div class="col-sm-3">
        <div id="scoring_graph" class="shiny-plot-output" style="width: 100% ; height: 200px"></div>
      </div>
      <div class="col-sm-3">
        <div id="rebounding_graph" class="shiny-plot-output" style="width: 100% ; height: 200px"></div>
      </div>
    </div>
    <div class="row" style="padding-right:12px; padding-left:12px;">
      <div class="col-sm-6" style="padding:0px;">
        <div id="team_shot_chart" class="shiny-plot-output" style="width: 100% ; height: 400px"></div>
      </div>
      <div class="col-sm-6" style="padding-left:0px; padding-right:12px;">
        <div id="opponent_shot_chart" class="shiny-plot-output" style="width: 100% ; height: 400px"></div>
      </div>
    </div>
    <h2></h2>
    <div class="row"><font size = "1"> All data courtesy of stats.nba.com </font></div>
    <div class="row"><font size = "1"> Shot chart data is at an individual level (not lineup level) </font></div>
    <div class="col-sm-3">
      <div id="sample_data_graph" class="shiny-plot-output" style="width: 100% ; height: 200px"></div>
    </div>




  </div>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
<script src="../static/vendor/js/lineupBarCharts.js"></script>

<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
