<!DOCTYPE html>
<html lang="en">
<head>
	<title>Projects</title>

	<link rel="shortcut icon" href="static/vendor/images/capital-logo.jpg">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="static/vendor/css/inito_styles.css">
  <link rel="stylesheet" href="static/vendor/css/basic_style.css">


</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax page-head" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="static/vendor/images/portfolio-photo.jpg" alt="">
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav">
					<li class="active"><a href="..">Home</a></li>
					<li class="active"><a href="#">Projects</a></li>
				</ul>

			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">

	<div class="container">
    <div class="row">
  		<h1 class="text-center">
        <br />
  			<span class="head-title">Projects</span>
        <span class="head-tagline">List of Projects with a Short Description</span>
  		</h1>
  	</div>
    <hr>
		<div class="row section topspace">
			<div class="col-md-12">
        <p>
          Feel free to send me an <a href="mailto:markbgroner@gmail.com">email</a></li> if you have any questions.
				</p>
			</div>
		</div> <!-- / section -->

		<div class="row section featured topspace">
			<h2 class="section-title"><span>Projects</span></h2>
			<div class="container">
          <div class="row">
            <div class="col-md-12">
							<div class="row">
								<h4> <a href="nba/lineup_comparison" class="project-header" target="_blank">NBA Lineup Comparison Dashboard: (Work in Progress)</a></h4>
								<aside>
									<ul>
										<li><strong>Project Link:</strong> <a href="nba/lineup_comparison">https://markgroner.com/nba/lineup_comparison</a></li>
										<li><strong>GitHub Repo:</strong> <a href="https://github.com/markgroner/portfolio">https://github.com/markgroner/portfolio</a></li>
									</ul>
								</aside>
							</div>
							<div class="row">
								<h4> <a href="https://atxpubliccompanies.herokuapp.com/" class="project-header" target="_blank">Publicly Traded ATX</a></h4>
								<aside>
									<ul>
										<li><strong>Project Link:</strong> <a href="https://atxpubliccompanies.herokuapp.com/" target="_blank">https://atxpubliccompanies.herokuapp.com</a></li>
										<li><strong>GitHub Repo:</strong> <a href="https://github.com/jijivjacob1/publicly-traded-atx" target="_blank">https://github.com/jijivjacob1/publicly-traded-atx</a></li>
									</ul>
								</aside>
							</div>
							<div class="row">
								<h4> <a href="https://mortgage-masters.herokuapp.com/" class="project-header" target="_blank">Mortgage Masters</a></h4>
								<aside>
									<ul>
										<li><strong>Project Link:</strong> <a href="https://mortgage-masters.herokuapp.com/" target="_blank">https://mortgage-masters.herokuapp.com</a></li>
										<li><strong>GitHub Repo:</strong> <a href="https://github.com/bharnats/Mortgage_Masters" target="_blank">https://github.com/bharnats/Mortgage_Masters</a></li>
									</ul>
								</aside>
							</div>
							<div class="row">
								<h4> <a href="https://markgroner.github.io/alien_sightings/" class="project-header" target="_blank">Alien Sightings</a></h4>
								<aside>
									<ul>
										<li><strong>Project Link:</strong> <a href="https://markgroner.github.io/alien_sightings/" target="_blank">https://markgroner.github.io/alien_sightings</a></li>
										<li><strong>GitHub Repo:</strong> <a href="https://github.com/markgroner/alien_sightings" target="_blank">https://github.com/markgroner/alien_sightings</a></li>
									</ul>
								</aside>
							</div>
							<div class="row">
								<h4> <a href="https://markgroner.github.io/latitudinal_weather_viz_site/" class="project-header" target="_blank">Weather Vizualization</a></h4>
								<aside>
									<ul>
										<li><strong>Project Link:</strong> <a href="https://markgroner.github.io/latitudinal_weather_viz_site/" target="_blank">https://markgroner.github.io/latitudinal_weather_viz_site</a></li>
										<li><strong>GitHub Repo:</strong> <a href="https://github.com/markgroner/latitudinal_weather_viz_site" target="_blank">https://github.com/markgroner/latitudinal_weather_viz_site</a></li>
									</ul>
								</aside>
							</div>
            </div>
          </div>
        </div>
		</div> <!-- / section -->

		<div class="row section recentworks topspace">

			<h2 class="section-title"><span>Contact Info</span></h2>

			<div class="container">
	        <div class="row">
						<aside>
							<ul>
								<li><strong>Email:</strong> <a href="mailto:markbgroner@gmail.com">markbgroner@gmail.com</a></li>
								<li><strong>GitHub:</strong> <a href="https://github.com/markgroner" target="_blank">https://github.com/markgroner</a></li>
								<li><strong>Portfolio:</strong> <a href="https://markgroner.github.io/portfolio/projects.html" target="_blank">Projects</a></li>
							</ul>
						</aside>
	        </div>
          <br />
          <br />
	    </div>
		</div> <!-- /section -->

	</div>	<!-- /container -->

</main>


<footer id="underfooter">
	<div class="container">
		<div class="row">


			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>
						<b>University of Texas at Austin</b><br>
						Hook 'Em
					</p>

				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Design: <a href="http://www.gettemplate.com" rel="designer" target="_blank">Initio by GetTemplate</a>
					</p>
				</div>
			</div>


		</div>
	</div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3plus/1.9.8/d3plus.full.js"></script>
<script src="static/vendor/js/inito_template.js"></script>
</body>
</html>
