<!DOCTYPE html>
<html lang="en">
<head>
	<title>Projects</title>

	<link rel="shortcut icon" href="static/vendor/images/capital-logo.png">

	<!-- Bootstrap -->
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="static/vendor/css/inito_styles.css">
  <link rel="stylesheet" href="static/vendor/css/basic_style.css">


</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax page-head" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="static/vendor/images/portfolio-photo.jpeg" alt="">
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav">
					<li><a href="..">Home</a></li>
					<li class="active"><a href="#">Projects</a></li>
				</ul>

			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">

	<div class="container">
    <div class="row">
  		<h1 class="text-center">
        <br />
  			<span class="head-title">Projects</span>
        <span class="head-tagline">List of Projects with Short Descriptions</span>
  		</h1>
  	</div>
    <hr>
		<div class="row section topspace">
			<div class="col-md-12">

        <center><p>
          Feel free to send me an <a href="mailto:markbgroner@gmail.com">email</a></li> if you have any questions.
				</center></p>
			</div>
		</div> <!-- / section -->


		<div class="row section recentworks topspace">
			<h2 class="section-title"><span><a href="nba/lineup_comparison" class="project-header" target="_blank">NBA Lineup Comparison (In Development)</a></span></h2>
			</br>
			<p>
				A full stack Flask application dashboard built on a PostgreSQL database with D3 for visualizations and interactivity.
				I am actively working on this project, and the next steps include:
			</p>
			<ul class="project-description-list">
				<li>Adding Shot Chart Graphics</li>
				<li>Adding Data for Additional Seasons</li>
				<li>Tools Tips for the Grouped Bar Charts</li>
				<li>Resize Plots when Window Changes</li>
				<li>Updating How Lineup Names are Displayed</li>
				<li>Updating Data Over Night as the Season Progresses</li>
				<li>Finishing Styling and Layout</li>
			</ul>
			</p>
			<center>
				<div class="row">
					<a href="nba/lineup_comparison" target="_blank">Project</a>
						|
					<a href="https://github.com/markgroner/portfolio" target="_blank">Repository</a>
				</div>
			</center>
			<br></br>
			<br></br>
		</div>


		<div class="row section recentworks topspace">
			<h2 class="section-title"><span><a href="https://atxpubliccompanies.herokuapp.com/" class="project-header" target="_blank">Publicly Traded ATX</a></span></h2>
			</br>
			<p>
				A team project designed to visualize the landscape of the Austin economy through the lens of the 25 largest
				publicly traded corporations headquartered in the city.  We built a full stack application using Python and
				Flask and created visualizations with several JavaScript libraries.
			</p>
			<center>
				<div class="row">
					<a href="https://atxpubliccompanies.herokuapp.com/" target="_blank">Project</a>
						|
					<a href="https://github.com/jijivjacob1/publicly-traded-atx" target="_blank">Repository</a>
				</div>
			</center>
			<br></br>
			<br></br>
		</div>


		<div class="row section recentworks topspace">
			<h2 class="section-title"><span><a href="https://mortgage-masters.herokuapp.com/" class="project-header" target="_blank">Mortgage Masters</a></span></h2>
			</br>
			<p>
				A team project that trained a machine learning algorithm to determine if a user would be
				approved for a mortgage loan.  We tested several different algorithms and ultimately
				chose to train a Neural Network using TensorFlow for our application.  The flask app takes 10 different inputs
				from the user and immediately provides a decision.
			</p>
			<center>
				<div class="row">
					<a href="https://mortgage-masters.herokuapp.com/" target="_blank">Project</a>
						|
					<a href="https://github.com/bharnats/Mortgage_Masters" target="_blank">Repository</a>
				</div>
			</center>
			<br></br>
			<br></br>
		</div>


		<div class="row section recentworks topspace">
			<h2 class="section-title"><span><a href="https://markgroner.github.io/latitudinal_weather_viz_site/" class="project-header" target="_blank">Weather Visualization</a></span></h2>
			</br>
			<p>
				A simple site displaying graphics used to analyze weather patterns relative to their distance from the equator.
				The analysis and plotting was done in Python with Matplotlib before being implemented on to the site.
				The data was pulled with Python via APIs from  <a href="https://openweathermap.org/" target="_blank">openweathermap.org</a>.
			</p>
			<center>
				<div class="row">
					<a href="https://markgroner.github.io/latitudinal_weather_viz_site/" target="_blank">Project</a>
						|
					<a href="https://github.com/markgroner/equator_weather" target="_blank">Plotting Repository</a>
						|
					<a href="https://github.com/markgroner/latitudinal_weather_viz_site" target="_blank">Website Repository</a>
				</div>
			</center>
			<br></br>
			<br></br>
		</div>
		<br></br>
		<br></br>






	</div>	<!-- /container -->

</main>


<footer id="underfooter">
	<div class="container">
		<div class="row">


			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>
						<b>Mark Groner</b><br>
						Hook 'Em
					</p>

				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Design: <a href="http://www.gettemplate.com" rel="designer" target="_blank">Initio by GetTemplate</a>
					</p>
				</div>
			</div>


		</div>
	</div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="static/vendor/js/inito_template.js"></script>
</body>
</html>
